html {
  font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    font-size : 1.6rem;
    /*webkit-tap-highlight-color: #3c763d*/
    /*background: url("http://i.imgur.com/HgflTDf.jpg") 50% fixed;*/
    background-size: cover;
    height: 100vh;
    -webkit-font-smoothing : subpixel-antialiased;
    background-color : #ffffff;
    height: 100%;
}

header {
    /*background-image: url(../img/header-pg.jpg);*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
    box-sizing: content-box;
}

header .mediabox {
    width : inherit;
    position : relative;
}

header .mediabox img {
    height : inherit;
    width : 100%;
}

header .container-fluid {
    padding-left : 0px;
    padding-right : 0px;
    text-align : center;
}

.prodspec {
    box-sizing : content-box;
    position : relative; 
}

.prodspec .container-fluid {
    padding : 0px;
}

.prodspec .mediabox.summarize {
    width : 61.54%;
    height : inherit;
}

.mediabox>img {
    width : 100%;
    height : inherit;
}

.prodspec .shortintro {
    width : 38.46%;
    height : inherit;
    display : inline-block;
}

.colorblack {
    color : #202020;
}


.left {
    float : left;
}

.right {
    float : right;
}
/*
.container {
    margin-left: 100px;
    margin-right: 100px;
    position : relative;

}
*/
.shortintro {
    position : absolute;
    z-index : 1;
    top : 130px;
    left : 100px;
    width : 50%;
}

.shortintro h2 {
    font-size : 50px;
    font-weight : bold;
    text-align : left;
    color : white;
    opacity : 0.8;
}

.shortintro h3 {
    font-size : 30px;
    text-align : left;
    color : #eee;
    opacity : 0.8;
}


.half {
    width : 50%;
    background-color : rgba(22, 102, 0, 0.7);
    padding : 10px;
    border-radius : 10px;
}

.navbar-custom {
    margin: 0;
    color: transparent;
    border: 0px;
}

.navbar-custom .nav-custom {
    font-size : 20px;
}
    
.nav-custom li.nav-special>a {
    color : #007FFF;
}

.nav-custom li.icon>a {
    padding-top : 0px;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 0px;
    background-color : #8DB600;
    border-color : #8DB600;
}

.nav-custom li.nav-normal {
    
}

.navbar-custom .container-fluid {
    padding-right: 0px;
}

.container-root {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  width : 100%;
}

.prodquote {
    position : relative;
    background-color : #ffffff ;
    box-sizing : border-box;
    height : auto;
    padding-top : 30px;
    padding-bottom : 30px;
}

.prodquote .container-fluid{
    color : #3c763d;
    font-size : 20px;
    text-align : center;
}



.prodquote .quote{
    position : relative;
    font-size : 20px;
    color : #f5f5f5;
    width : 50%;
    font-family : inherit;
    text-align : center;
    padding-top : 50px;
    padding-bottom : 10px;
}

.prodquote h3 {
    font-size : 30px;
    font-weight : bold;
}

.prodquote hr {
    width : 200px;
    border-top : 3px solid #8a6d3b;
}

.prodquote .feature-box .feature-content {
    padding-top : 50px;
}

.prodquote .feature-box .feature-content h6 {
    text-transform : uppercase;
    font-size : 25px;
}

.prodquote .feature-box .feature-content p {
    opacity : 0.64;
    font-size : 19px;
}

.prodquote .feature-box .feature-content p:hover {
    opacity : 1;
    color : #8a6d3b;
}

@media (min-width: 768px) {
    .container-root {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container-root {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container-root {
        width: 1170px;
    }
}

@media (min-width:1500px) {
    .container-root {
        width: 1300px;
    }    
}

.mNav {
    width : inherit;
    background-color : #444;
    height : 60px;
}

.mNav .container-fluid {
    padding-left : 0px;
    padding-right : 0px;
    background-color : #f8f8f8;
    height : inherit;
    max-width : 100%;
}

.mNav .items {
    text-align : center;
    padding-top : 16px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 16px;
    border-right : 1px solid rgba(0,0,0,0.1);
    height : inherit;
}

.mNav .items:hover {
    background-color : #e0e0e0;
    color : rgba(22,102,0);
}

hr.hrabove {
    border-top : 2px solid rgba(22, 102, 0, 0.7);
}

hr.hrbelow {
    border-top : 2px solid rgba(22, 102, 0, 0.7);
}

.mNav .items>a {
    color : inherit;
    font-size : 20px;
    display : block;
    text-decoration : none;
    cursor : pointer;
}


.mNav div.mNav-root  {
    /* display : flex - solution*/
    overflow : hidden;
    width : 100%;
    max-width : 100%;
    text-align : center;
    height : inherit;
}

.mNav ul {
    list-style-type : none;
    margin : 0;
    padding : 0 0 0 0;
}

.mNav ul li {
}

.mNav li.icon>a>span {
    height : 100%;
    width : 100%;
    padding-top: 12px;
    background-color: #db7070;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 12px;
}

.mNav .icon {
    padding-right : 0px;
    float : left;
    font-size : 14px;
}

.mNav .icon i.fa-2x {
    display : block;
}

.mNav .icon i.fa-1x {
    display : none;
}

.mNav .items.nav-special>a {
    color : #3399ff;
}


.mNav .items.mNav-branch {
    color : white;
    font-weight : bold;
    font-size : 20px;
}

.mNav .items.mNav-branch {
    background-color : #006600;
}

@media (min-width : 0px) {
    
    .mNav.fixable .items>a {
        color : #333;
        font-size : 17.5px;
        display : block;
    }

    .mNav.fixable a.items.mNav-branch {
        height : 38px;
    }

    .mNav.fixable .items {
        padding-top : 7px;
        padding-bottom : 7px;
        height : inherit;
    }

    .mNav.fixable .items.nav-special>a {
        color : #3399ff;
    }

    .mNav.fixable .items.mNav-branch>a {
        
    }

    .mNav.fixable .items.mNav-branch {
        padding-top : 7px;
        padding-bottom : 7px;
        background-color : #006600;
        color : #fff;
        font-size : 15px;
        display : block;
        font-family : ;
        font-weight : bold;
    }

    .mNav.fixable {
        position : fixed;
        z-index : 32;
        height : 38px;
        max-width : 100%;
    }

    .mNav.fixable div.items {
        text-align : center;
        padding-top : 5px;
    }

    .mNav.fixable .icon i.fa-2x {
        display : none;
    }

    .mNav.fixable .icon i.fa-1x {
        display : block;
    }

    .mNav.fixable .icon .fa-stack {
        padding-top : 9.5px;
    }

}

.box-transition {
    
}

.box-transition p {
    padding : 0px;
    margin : 0px;
    font-size : inherit;
}

.box-enter {
    overflow : hidden;
    padding-bottom : 1px solid rgba(22, 102, 0, 1);
    text-align : center;
    float : left;
    font-size : inherit;
    display : inline-block;
    padding-left : 10px;
}

.box-enter.box-enter-active {
    transition : all 0.4s ease-in-out; 
    overflow : hidden;
    padding-bottom : 1px solid rgba(22, 102, 0, 1);
    text-align : center;
    float : left;
    font-size : inherit;
    display : inline-block;
    padding-left : 10px;
}

.box-leave {
    overflow : hidden;
    padding-bottom : 1px solid rgba(22, 102, 0, 1);
    text-align : center;
    float : left;
    font-size : inherit;
    display : inline-block;
    padding-left : 10px;
}

.box-leave.box-leave-active {
    overflow : hidden;
    padding-bottom : 1px solid rgba(22, 102, 0, 1);
    text-align : center;
    float : left;
    font-size : inherit;
    display : inline-block;
    padding-left : 10px;
    transition : all 0.4s ease-in-out; 
}

.prodquote span {
    display : inline-block;
    border-bottom : 2px solid #8a6d3b;
    height : 38px;
    overflow : hidden;
}


.prodquote span.span-container {
    transition: all 0.5s ease-in-out;
    transition-duration : 0.5s;
     
}

.prodquote span.span-container .box-content>p{
    position : absolute;
    left : 0;
    right : 0;
}

.box-content-enter {
    opacity : 0;
    margin-top : 38px;
}

.box-content-enter.box-content-enter-active {
    margin-top : 0px;
    opacity : 1;
    transition : all 1s ease-in-out;
}

.box-content-leave {
    margin-top : 0px;
    opacity : 1;
}

.box-content-leave.box-content-leave-active {
    margin-top : 38px;
    opacity : 0;
    transition : all 1s ease-in-out;
}

footer {
    position : relative;   
    overflow : hidden;
}

footer img {
    position : absolute;
    bottom : 0px;
    width : 100%;
    filter : blur(10px);
    z-index : -1;
}
footer .describe {
    text-align : center;
    padding : 0 6.25% 0 6.25%;
    padding-top : 80px;
    background-color : transparent;
}

footer .describe>p {
    color : #f2dede;
}

footer a {
    cursor : pointer;
}

footer .describe>div.contact-link-container {
    border-radius : 10px;
    padding : 10px;
    background-color : rgba(242,243,244,0.6);
    display : inline-block;
}

footer .digital-contact a {
    color : #f2dede;
}

footer .digital-contact {
    margin : 40px 20% 10% 20%;
    overflow : visible;
    position : relative;
    text-align : center;
}

footer .copy-right {

}





