
body {
    overflow-x: hidden;
    font-family: "Dosis", sans-serif;
    /*webkit-tap-highlight-color: #3c763d*/
    /*background: url("http://i.imgur.com/HgflTDf.jpg") 50% fixed;*/
    background-size: cover;
    height: 100vh;
}

header {
    /*background-image: url(../img/header-pg.jpg);*/
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
    position: relative;
    box-sizing: content-box;
}

header .mediabox {
    height : inherit;
    width : inherit;
    position : relative;
}

header .mediabox img {
    height : inherit;
    width : 100%;
}
/*
.container {
    margin-left: 100px;
    margin-right: 100px;
    position : relative;

}
*/
.shortintro {
    position : absolute;
    z-index : 1;
    top : 130px;
    left : 100px;
    width : 50%;
}

.shortintro h2 {
    font-size : 50px;
    font-weight : bold;
    text-align : left;
    color : #006600;
    opacity : 0.8;
}

.shortintro h3 {
    font-size : 30px;
    text-align : left;
    color : #006600;
    opacity : 0.8;
}

.shortintro 

.half {
    height : inherit;
    width : 50%;
}

.navbar-custom {
    margin: 0;
    color: transparent;
    border: 0px;
}

.navbar-custom .nav-custom {
    font-size : 20px;
}
    
.nav-custom li.nav-special>a {
    color : #007FFF;
}

.nav-custom li.icon>a {
    padding-top : 0px;
    padding-bottom : 0px;
    padding-left : 0px;
    padding-right : 0px;
    background-color : #8DB600;
    border-color : #8DB600;
}

.nav-custom li.nav-normal {
    
}

.navbar-custom .container-fluid {
    padding-right: 0px;
}

.container-root {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

header .container-fluid {
    padding-left : 0px;
    padding-right : 0px;
}
@media (min-width: 768px) {
    .container-root {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container-root {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container-root {
        width: 1170px;
    }
}

@media (min-width:1500px) {
    .container-root {
        width: 1300px;
    }    
}

.mNav {
    width : 100%;
    background-color : #db7070;
    height : 60px;
}

.mNav .container-fluid {
    padding-left : 0px;
    padding-right : 0px;
    background-color : #f8f8f8;
    height : inherit;
}

.mNav .items {
    text-align : center;
    padding-top : 16px;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 16px;
    border-right : 1px solid rgba(0,0,0,0.1);
    height : inherit;
}

.mNav .items:hover {
    background-color : #e0e0e0;
}
.mNav .items>a {
    color : #777;
    font-size : 20px;
    display : block;
    text-decoration : none;
    cursor : pointer;
}


.mNav div.mNav-root  {
    /* display : flex - solution*/
    border-right : 1px solid #db7070;
    overflow : hidden;
    width : 100%;
    text-align : center;
    height : inherit;
}

.mNav ul {
    list-style-type : none;
    margin : 0;
    padding : 0 0 0 0;
}

.mNav ul li {
}

.mNav li.icon>a>span {
    height : 100%;
    width : 100%;
    padding-top: 12px;
    background-color: #db7070;
    padding-left : 10px;
    padding-right : 10px;
    padding-bottom : 12px;
}

.mNav .icon {
    padding-right : 0px;
    float : left;
}

.mNav .icon i.fa-2x {
    display : block;
}

.mNav .icon i.fa-1x {
    display : none;
}

.mNav .items.nav-special>a {
    color : #3399ff;
}


.mNav .items.mNav-branch {
    color : white;
    font-weight : bold;
    font-size : 20px;
}

.mNav .items.mNav-branch {
    background-color : #006600;
}

@media (min-width : 0px) {
    
    .mNav.fixable .items>a {
        color : #777;
        font-size : 17.5px;
        display : block;
    }

    .mNav.fixable a.items.mNav-branch {
        height : 38px;
    }

    .mNav.fixable .items {
        padding-top : 7px;
        padding-bottom : 7px;
        height : inherit;
    }

    .mNav.fixable .items.nav-special>a {
        color : #3399ff;
    }

    .mNav.fixable .items.mNav-branch>a {
        
    }

    .mNav.fixable .items.mNav-branch {
        padding-top : 7px;
        padding-bottom : 7px;
        background-color : #006600;
        color : #fff;
        font-size : 15px;
        display : block;
        font-family : ;
        font-weight : bold;
    }

    .mNav.fixable {
        position : fixed;
        z-index : 32;
        width : 100%;
        height : 38px;
    }

    .mNav.fixable div.items {
        text-align : center;
        padding-top : 5px;
    }

    .mNav.fixable .icon i.fa-2x {
        display : none;
    }

    .mNav.fixable .icon i.fa-1x {
        display : block;
    }

    .mNav.fixable .icon .fa-stack {
        padding-top : 9.5px;
    }

}







