<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aquaponic System, Aquapoos, Hệ trồng rau nuôi cá, Hệ aquaponic, Hải Phòng">
    <meta name="author" content="InnovOS CareUrLife Group">

    <title>AquapoOS</title>
    <link href="Css/bootstrap.css" rel="stylesheet">
    <link href="Css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
    
</head>
<body>
    <div id="root">

    </div>

    <script src="Utils/index.react.js"></script>
    <script src="Js/jquery-3.1.1.min.js"></script>
    <script src="Js/bootstrap.min.js"></script>
    <link href="Css/layout.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Slab">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis:medium">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
</body>
</html>
