<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aquaponic System, Aquapoos, Hệ trồng rau nuôi cá, Hệ aquaponic, Hải Phòng">
    <meta name="author" content="InnovOS CareUrLife Group">

    <title>AquapoOS</title>
    <link href="/Css/bootstrap.css" rel="stylesheet">
    <link href="/Css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.dark.min.css">
    <script src="/Js/sidebar/modernizr.js"></script> <!-- Modernizr -->
</head>
<body>
    <div id="root">
        <%- markup -%>
    </div>

    <link href="/Css/research.layout.css" rel="stylesheet">
    <script src="/Utils/bundle.js"></script>
    <script src="/Js/jquery-3.1.1.min.js"></script>
    <script src="/Js/bootstrap.min.js"></script>
    <script src="/Js/Lib/isInViewport.js"></script>
    <script src="/Js/Lib/jquery.nicescroll.min.js"></script>
    <link href="/Css/index.layout.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Slab">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis:regular">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Vollkorn:regular">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Maven+Pro">

   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> 
    <script>
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if (scroll != 0){
                $('div.mNav').addClass('fixable');
            } else {
                $('div.mNav').removeClass('fixable');
            }
        });
        
        $(document).ready(function() {
            var height = $('div.content-x').height();
            $('div.content-x').width(height*1.6);
            if($(window).width() <= 414) {
                $('div.mNav').addClass('fixable');
            }
            var padding = ($(".mNav li.items").height() - $(".mNav li.items>a").height())/2;
            $("div.mNav li.items").attr("padding-top",padding);
            $("div.mNav li.items").attr("padding-bottom",padding);
        }); 

        
        
    //$(document).ready(function() {
       // $("html").niceScroll(); 
    //});
    </script>
</body>
</html>
