<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Aquaponic System, Aquapoos, Hệ trồng rau nuôi cá, Hệ aquaponic, Hải Phòng">
    <meta name="author" content="InnovOS CareUrLife Group">

    <title>AquapoOS</title>
    <link href="Css/bootstrap.css" rel="stylesheet">
    <link href="Css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
</head>
<body>
    <div id="root">

    </div>

    <script src="Js/jquery-3.1.1.min.js"></script>
    <script src="Utils/index.react.js"></script>
    <script src="Js/bootstrap.min.js"></script>
    <script src="Js/Lib/isInViewport.js"></script>
    <script src="Js/Lib/jquery.nicescroll.min.js"></script>
    <link href="Css/layout.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Slab">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis:medium">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">

    <script>
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();
            if (scroll != 0){
                $('div.mNav').addClass('fixable');
                var paddingW = $('div.row.mNav-root').width() - $('div.mNav-branch').outerWidth() - $('div.mNav-cart').outerWidth() - $('div.mNav-about').outerWidth();
                console.log($('div.mNav').width() + " " + $('div.mNav-branch').width() + " " + $('div.mNav-cart').width() + " " + $('div.mNav-about').width());
                $('div#padding').outerWidth(paddingW);
                $('div#padding').show();
            } else {
                $('div.mNav').removeClass('fixable');
                $('div#padding').hide();
            }
        });
        $(document).ready(function(){
             $('body').bind('mousewheel', function(e){
                if(e.originalEvent.wheelDelta /120 > 0) {
                    console.log('scrolling up !');
                }
             else{
                    console.log('scrolling down !');
            }
        });
});
    //$(document).ready(function() {
       // $("html").niceScroll(); 
    //});
    </script>
</body>
</html>
